# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
.reggae
/barcodegame
*.ninja
.ninja_*
compile_commands.json
*~
imgui.ini
world.blueprint
*.trace
x64
.vs
*.filters
hydra/Debug/*
!lib/*
!bin/*
Debug
*.pdb
\#*\#
.\#*
